<header class="border-b border-gray-100">
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    <a routerLink="/" class="flex items-center space-x-2">
    <svg xmls="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather">
      <path d="M20.24 4.24a5.94 5.94 0 0 1 0 8.48L10.48 22l-4.24-4.24a5.94 5.94 0 0 1 0-8.48 5.94 5.94 0 0 1 8.48 0z"></path>

    </svg>
    <span class="text-xl font-bold">MediaScribe AI</span>
    </a>
<nav>
  <ul class="flex gap-8">
    <li><a routerLink="/" class="text-gray-600 hover:text-blue-500">Home</a></li>
    <li><a routerLink="/upload" class="text-gray-600 hover:text-blue-500">Upload</a></li>
    <li><a routerLink="/history" class="text-gray-600 hover:text-blue-500">History</a></li>
  </ul>
</nav>

  </div>
 
</header>
<main>
  <router-outlet></router-outlet>
</main>
